.elements__caption-like {
  background-image: url('../../../images/hearth.svg');
  background-position: center;
  background-color: white;
  cursor: pointer;
  width: 20.76px;
  height: 18.13px;
  transition: 0.3s ease;
  border-style: none;
  outline: none;
}

.elements__caption-like:hover {
  opacity: 0.6;
}