.profile__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(mincontent, maxcontent));
  grid-template-rows: repeat(2, minmax(mincontent, maxcontent));
  margin-left: 30px;
  max-width: 380px;
  align-items: flex-end;
}

@media (max-width: 920px) {
  .profile__info {
    margin: 0;
    max-width: 330px;
    /*justify-content: center;*/
  }
}